{% extends 'accounts/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>
    おかえりなさい、
    <a type="button" data-mdb-ripple-color="dark" href="{% url 'accounts:profile' user.username %}">{{ user.username }}さん</a>
</h1>

<a href="{% url 'tweets:create' %}" class="right-field">呟く</a>
<a type="button" data-mdb-ripple-color="dark" href="{% url 'accounts:followee_list' user.username %}">あなたのフォローリスト</a>
<a type="button" data-mdb-ripple-color="dark" href="{% url 'accounts:follower_list' user.username %}">あなたのフォロワーリスト</a>
{% for tweet in tweet_list %}
<p></p>
<div class="card">
    <div class="card-body">
        <a type="button" data-mdb-ripple-color="dark" href="{% url 'accounts:profile' tweet.user.username %}">{{ tweet.user }}</a>
        {% if not tweet.user in followee_list and not tweet.user == request.user %}
        <a type="button" data-mdb-ripple-color="dark" href="{% url 'accounts:follow' tweet.user.username %}">フォロー</a>
        {% elif tweet.user in followee_list %}
        <p>
            フォローしています
            <a type="button" data-mdb-ripple-color="dark" href="{% url 'accounts:unfollow' tweet.user.username %}">アンフォロー</a>
        </p>

        {% endif %}
        {% if tweet.user in follower_list%}
        <p>フォローされています</p>
        {% endif %}
        <div>
            <p>{{ tweet.content | linebreaksbr }}</p>
        </div>
        <div align="right">
            <a type="button" class="btn btn-outline-primary" "text-end" data-mdb-ripple-color="dark"
                href="{% url 'tweets:detail' tweet.pk %}">
                詳細
            </a>
            {% include 'tweets/like.html' %}
        </div>
    </div>
</div>
{% empty %}
<h4 class="text-center my-3">ツイートはありません。</h4>
{% endfor %}
{% else %}
<h1>Backend Final Assignment</h1>
{% endif %}
{% block extrajs %}
{% include 'accounts/script.html' %}
{% endblock extrajs %}
{% endblock content %}
