{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>

<body>
    <div class = "left-field">
    <a href="{% url 'home' %}" class="left-field">Twitter Clone</a>
    </div>
    <div class="right-field">
    <a href="{% url 'login' %}" class="right-field">ログイン</a>
    <a href="{% url 'signup' %}" class="right-field">登録</a>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>
